<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <section style="padding-top: 20px;">
    <div class="card">
      <div class="card-image">
        <figure>
          <img
          height="256"
          width="256"
          mat-card-image
          [src]="launchDetails.links.mission_patch"
          alt="Mission patch of {{ launchDetails.mission_name }}"/>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ launchDetails.mission_name }}</p>
            <p class="subtitle is-6">{{ launchDetails.details }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="photo-grid">
    <img
      *ngFor="let pic of launchDetails.links.flickr_images"
      [src]="pic"
      alt="Picture of {{ launchDetails.mission_name }}"
      class="img"
      loading="lazy"
    />
  </section>
</ng-container>
